.button {
    max-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.55em;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: filter 0.3s, background-color 0.3s;
}

.defaultButton {
    background: none;
    padding: 12px 20px;
}

.topIcon {
    flex-direction: column;
}

.button:disabled {
    filter: grayscale(1);
}

.button:focus {
    outline: none;
}

.button:disabled {
    cursor: not-allowed;
}

.button:hover:not(:disabled) {
    filter: brightness(1.2);
}
