@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito/Nunito.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito/static/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito/static/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito/static/Nunito-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}

text {
  font-family: 'Nunito', serif;
  font-weight: 700;
  font-style: normal;
}

html, body {

  margin: 0;
  padding: 0;
  display: grid;

}