/* Стили для контейнера */
.container {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #777;
    border-radius: 0.25em;
    padding: 0.5em;
    min-height: 2em;
    gap: 0.5em;
    background-color: white;
}

/* Стили для значения */
.value {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

/* Стили для значков выбранных опций */
.option-badge {
    display: flex;
    align-items: center;
    gap: 0.25em;
    background-color: #f0f0f0;
    border: none;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    cursor: pointer;
}

/* Иконка удаления внутри выбранной опции */
.remove-btn-icon {
    width: 1em;
    height: 1em;
}

/* Кнопка очистки */
.clear-btn {
    background: none;
    border: none;
    cursor: pointer;
}

/* Иконка actionTypes.ts кнопке очистки */
.clear-btn-icon {
    width: 1em;
    height: 1em;
}

/* Разделитель */
.divider {
    background-color: #777;
    width: 1px;
    align-self: stretch;
}

/* Кнопка каретки */
.caret {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* Иконка каретки */
.caret-icon {
    width: 1em;
    height: 1em;
}

/* Стили для списка опций */
.options {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 15em;
    overflow-y: auto;
    border: 1px solid #777;
    border-radius: 0.25em;
    width: 100%;
    top: calc(100% + 0.25em);
    left: 0;
    background-color: white;
    z-index: 100;
    display: none;
}

.options.show {
    display: block;
}

/* Стили для опций */
.option {
    padding: 0.5em;
    cursor: pointer;
}

.option:hover,
.option.highlighted {
    background-color: #e0e0e0;
}

.option.selected {
    background-color: #b0d4ff;
}
